**/.yarn/*
!**/.yarn/releases

node_modules

**/.next
**/.idea
**/.git
**/.turbo
**/.env*
!**/*.env.example

**/dist
**/.DS_Store
**/node_modules
**/generated

next-env.d.ts
apps/web/.yarn/install-state.gz

**/uploads